<div class="offline-game">
  <mat-toolbar color="primary" class="game-header">
    <button mat-icon-button routerLink="/mainpage" class="back-button">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title">{{ title }}</span>
  </mat-toolbar>
  
  <div class="iframe-container">
    <iframe #iframeBox class="iframe-box iframe-1" [class.active]="isWhiteTurn" [class.inactive]="!isWhiteTurn" src="/iframepage" title="Iframe 1"></iframe>
    <iframe #iframeBox class="iframe-box iframe-2" [class.active]="!isWhiteTurn" [class.inactive]="isWhiteTurn" src="/iframepage?rotated=true" title="Iframe 2"></iframe>
  </div>

  <app-continue-game-dialog *ngIf="showContinueDialog"></app-continue-game-dialog>

  <div *ngIf="gameEnded" class="game-end-overlay">
    <mat-card class="game-end-card">
      <mat-card-header>
        <mat-card-title>{{ gameEndMessage }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="resetGame()" class="new-game-button">
          <mat-icon>refresh</mat-icon>
          Create New Game
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
